@use 'variables';

.contacts-list-mod {
    list-style: none;
    padding-inline-start: 0;
}

.contact-mod {
    margin-block-end: var(--contact-mod-margin-block-end);

    &__link {
        display: grid;
        gap: var(--contact-mod-gap);
        color: var(--contact-mod-color);
        background-color: var(--contact-mod-bg);
        border-radius: var(--contact-mod-border-radius);
        padding-inline: var(--contact-mod-padding-x);
        padding-block: var(--contact-mod-padding-y);

        &:hover {
            box-shadow: var(--contact-mod-box-shadow);
        }
    }

    &__img {
        aspect-ratio: 1;
        border: var(--contact-mod-img-border-width) solid var(--contact-mod-img-border-color);
        border-radius: var(--contact-mod-img-border-radius);
        overflow: hidden;
        max-width: var(--contact-mod-img-size);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center top;
        }
    }

    &__name {
        font-size: var(--contact-mod-title-font-size);
        font-weight: var(--contact-mod-title-font-weight);
    }

    &__info {
        color: var(--contact-mod-info-color);
        font-size: var(--contact-mod-info-font-size);
        line-height: 1.2;
    }
}